.gallery__icon {
  height: 1rem;
  width: 1rem;
  margin: 4rem .7rem;
}

.gallery__image {
  width: 100%;
  margin: 1rem;
}

.gallery__image--type-one {
  height: 15rem;
}

.gallery__image--type-two {
  height: 30rem;
}

.gallery__image--type-three {
  height: 17rem;
}